.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}

textarea{
    height: 4rem! important;
}

.c-blur1{
    top:1rem;
    left: 8rem;
}

@media screen and (max-width:480px){
    .contact-form{
        transform: scale(0.8);
        flex-direction: column;
    }

    .awesome>span:nth-of-type(1){
      font-size: 2rem;
    }
    .awesome>span:nth-of-type(2){
        font-size: 2rem;
      }
  }

  @media screen and (max-width:360px){
    .contact-form{
        transform: scale(0.7);
        flex-direction: column;
    }

    .awesome>span:nth-of-type(1){
      font-size: 1.5rem;
    }
    .awesome>span:nth-of-type(2){
        font-size: 1.5rem;
      }
  }